{% extends "base.html" %}
{% block head_title %}{{ organization.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url "campaign_index" %}">Campaigns</a></li>
        <li><a href="{% url "campaign_view" organization.campaign.pk %}">{{ organization.campaign.name }}</a></li>
        <li><a href="{% url "organization_index" organization.campaign.pk %}">Organizations</a></li>
        <li>{{ organization.name }}</li>
    </ol>
{% endblock %}
{% block content %}
{#    TODO Organization View Template#}
    <h1>{{ organization.name }}</h1>
    <p>Type: {{ organization.type }}</p>
    <p>Race: {{ organization.race}}</p>
    <p>Encounter:</p>
    <p>CR: {{ organization.cr}}</p>
    <p>HP: {{ organization.hp}}</p>
    <p>Initiative: {{ organization.initiative_modifier }}</p>
    <p></p>
{% endblock %}