{% extends "base.html" %}
{% block head_title %}{{ character.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url "campaign_index" %}">Campaigns</a></li>
        <li><a href="{% url "campaign_view" character.campaign.pk %}">{{ character.campaign.name }}</a></li>
        <li><a href="{% url "character_index" character.campaign.pk %}">Characters</a></li>
        <li>{{ character.name }}</li>
    </ol>
{% endblock %}
{% block content %}
{#    TODO Character View Template#}
    <h1>{{ character.name }}</h1>
    <p>Type: {{ character.type }}</p>
    <p>Race: {{ character.race}}</p>
    <p>Encounter:</p>
    <p>CR: {{ character.cr}}</p>
    <p>HP: {{ character.hp}}</p>
    <p>Initiative: {{ character.initiative_modifier }}</p>
    <p></p>
{% endblock %}