{% extends "base_index.html" %}
{% block head_title %} Campaigns {% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>Campaigns</li>
    </ol>
{% endblock %}

{% block index_head %}
    <h1>Campaigns <a href="{% url "campaign_index" %}"><span class="btn btn-primary pull-right">Create</span></a></h1>
{%  endblock  %}

{% block object_table %}
     <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'campaign_view' object.pk %}">{{ object.name }}</a></td>
                <td><a href="{% url 'campaign_index' %}"><span class="btn btn-sm btn-danger">Delete</span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

