{% extends "base.html" %}
{% block head_title %}{{ campaign.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url "campaign_index" %}">Campaigns</a></li>
        <li>{{ campaign.name }}</li>
    </ol>
{% endblock %}
{% block content %}
    <h1>{{ campaign.name }}</h1>
    <p>{{ campaign.description }}</p>

    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{% url "character_index" campaign.pk %}">Characters</a></li>
    </ul>
{% endblock %}
