{% extends "base.html" %}
{% block head_title %}{{ campaign.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url "campaign_index" %}">Campaigns</a></li>
        <li>{{ campaign.name }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="col-sm-12">
        <div class="row">
            <h1>{{ campaign.name }}</h1>
            <div class="col-sm-2"><b>Description:</b></div>
            <div class="col-sm-10">{{ campaign.description }}</div>
        </div>
        <div class="row">
            <h2>Related Content</h2>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="{% url "character_index" campaign.pk %}">Characters <span class="badge">{{ campaign.character_set.count }}</span></a></li>
                <li role="presentation"><a href="{% url "encounter_index" campaign.pk %}">Encounters <span class="badge">{{ campaign.encounter_set.count }}</span></a></li>
                <li role="presentation"><a href="{% url "location_index" campaign.pk %}">Locations <span class="badge">{{ campaign.location_set.count }}</span></a></li>
                <li role="presentation"><a href="{% url "organization_index" campaign.pk %}">Organization <span class="badge">{{ campaign.organization_set.count }}</span></a></li>
            </ul>
        </div>
    </div>
{% endblock %}
