{% extends "base.html" %}
{% block head_title %} Encounters {% endblock %}
{% block content %}
    <h1>Encounters</h1>
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for encounter in encounters %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'encounter_view' encounter.pk %}">{{ encounter.name }}</a></td>
                {# TODO Encounter List Table Rows #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}