{% extends "base.html" %}
{% block head_title %}{{ character.name }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url "campaign_index" %}">Campaigns</a></li>
        <li><a href="{% url "campaign_view" character.campaign.pk %}">{{ character.campaign.name }}</a></li>
        <li><a href="{% url "character_index" character.campaign.pk %}">Characters</a></li>
        <li>{{ character.name }}</li>
    </ol>
{% endblock %}
{% block content %}
    {#    TODO Character View Template#}
    <h1>{{ character.name }}</h1>
    <div class="col-sm-2">Type:</div> <div class="col-sm-10">{{ character.type }}</div>
    <div class="col-sm-2">Race:</div> <div class="col-sm-10">{{ character.race }}</div>
    {% if character.template %}
        <div class="col-sm-2">Template:</div> <div class="col-sm-10">{{ character.template }}</div>
    {%  endif %}
    {% if character.encounter %}
        <div class="col-sm-2">Encounter:</div> <div class="col-sm-10">{{ character.encounter }}</div>
    {%  endif %}

    <div class="col-sm-2">CR:</div> <div class="col-sm-10">{{ character.cr }}</div>
    <div class="col-sm-2">HP:</div> <div class="col-sm-10">{{ character.hp }}</div>
    <div class="col-sm-2">Initiative Modifier:</div> <div class="col-sm-10">{{ character.initiative_modifier }}</div>

    <h3>Relationships</h3>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Character</th>
            <th>Relationship</th>
        </tr>
        </thead>
        <tbody>
        {% for rc in character.relationships.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'character_view' rc.campaign.pk rc.pk %}">{{ rc }}</a></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}